.lt-icon {
  width: 100px;
  border-radius: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 46vh;
}

.contact-link, .contact-link:hover, .contact-link:focus {
  color: #999;
  font-size: 18px;
  cursor: pointer;
}

.info-btn {
  border: 1px solid #f5df4a;
  border-radius: 0;
  height: 39px;
  margin-bottom: 48px;
  background: #ffffff;
  font-size: 15px;
  transition: 300ms ease-in-out all;
  color: #444;
  &.in {
    background: #f5df4a;
  }
}

.info-col{
  font-size: 18px;
}